.sin-hover {
  &:hover {
    color: $color_2;
    transition: 0.5s;
  }
}

.navbar-toggler {
  background-color: $background-color_1;
}

.color-letra {
  color: $color_1;
  &:hover {
    color: $color_2;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    transition: 0.5s;
  }
}

h1 {
  color: $color_1;
  $font-family_1: "montserrat";
  display: flex;
  justify-content: center;
}

.navbar {
  font-size: 20px;
  font-weight: bold;
}
.navbar-brand {
  color: $color_1;
  font-size: 35px;
  display: inline-block;
  letter-spacing: 4px;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../img/imagen-fondo.jpg");
  height: 100vh;
  width: 100%;
  font-family: $font-family_1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
