$color_1: #fff;
$color_2: #09bde0;
$color_3: white;
$color_4: #314652;
$font-family_1: "montserrat";
$font-family_2: "calibri";
$background-color_1: #fff;
$background-color_2: black;
$background-color_3: #c4c4c2;
$medida: 490px;
